main/default/flows/Approved_Sessions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assign</name>
        <label>Assign Approved Status from Planned Session</label>
        <locationX>834</locationX>
        <locationY>304</locationY>
        <assignmentItems>
            <assignToReference>Get_Session.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Session_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Approved_Status</name>
        <label>Assign Approved Status from Proposed Session</label>
        <locationX>720</locationX>
        <locationY>296</locationY>
        <assignmentItems>
            <assignToReference>Get_Session.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Session.Start_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Session.Propose_Start_Date_Time__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Session.End_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Session.Propose_End_Date_Time__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Session.Propose_Start_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NullDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Session.Propose_End_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NullDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Session_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Session_Record</name>
        <label>Assign to Session Record</label>
        <locationX>693</locationX>
        <locationY>559</locationY>
        <assignmentItems>
            <assignToReference>SessionsCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Session</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Sessions</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Status</name>
        <label>Check Status</label>
        <locationX>786</locationX>
        <locationY>116</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Status_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Session.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Session.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Proposed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Approved_Status</targetReference>
            </connector>
            <label>Check Status Proposed</label>
        </rules>
        <rules>
            <name>Check_Status_Planned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Session.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Session.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Planned</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign</targetReference>
            </connector>
            <label>Check Status Planned</label>
        </rules>
    </decisions>
    <formulas>
        <name>NullDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE(&quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Approved Sessions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Approve Sessions</label>
    <loops>
        <name>Loop_through_Sessions</name>
        <label>Loop through Sessions</label>
        <locationX>439</locationX>
        <locationY>370</locationY>
        <collectionReference>ids</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Session</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Sessions</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Session</name>
        <label>Get Session</label>
        <locationX>512</locationX>
        <locationY>115</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_through_Sessions</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Session__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Sessions</name>
        <label>Update Sessions</label>
        <locationX>185</locationX>
        <locationY>524</locationY>
        <inputReference>SessionsCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Loop_through_Sessions</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SessionRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Session__c</objectType>
    </variables>
    <variables>
        <name>SessionsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Session__c</objectType>
    </variables>
</Flow>
