main/default/flows/Project_Task_Delete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Total_Proposed_Hours</name>
        <label>Assign Total Proposed Hours</label>
        <locationX>264</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>TotalProposedHours</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Project_Tasks.Proposed_Hours__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Project_Tasks</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Delete_Record</name>
        <label>Check Delete Record</label>
        <locationX>396</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>Loop_Project_Tasks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Record_to_delete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Project_Tasks.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Total_Proposed_Hours</targetReference>
            </connector>
            <label>Record to delete?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Project Task - Delete {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Project Task - Delete</label>
    <loops>
        <name>Loop_Project_Tasks</name>
        <label>Loop Project Tasks</label>
        <locationX>176</locationX>
        <locationY>551</locationY>
        <collectionReference>Get_all_Project_Tasks_of_Workplan</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Delete_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Workplan</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_all_Project_Tasks_of_Workplan</name>
        <label>Get all Project Tasks of Workplan</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Project_Tasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Workplan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Workplan_Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Workplan__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Project_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Workplan_Record</name>
        <label>Get Workplan Record</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_all_Project_Tasks_of_Workplan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Workplan__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Workplan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Workplan</name>
        <label>Update Workplan</label>
        <locationX>176</locationX>
        <locationY>1103</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Workplan_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Total_Proposed_Hours__c</field>
            <value>
                <elementReference>TotalProposedHours</elementReference>
            </value>
        </inputAssignments>
        <object>Workplan__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Workplan_Record</targetReference>
        </connector>
        <object>Project_Task__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>TotalProposedHours</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
