main/default/flows/Re_Generate_Campaign_URL.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <description>This flow update the Re-Generate URL field on the campaign record which will then invoke its trigger to re-generate the URL.</description>
    <interviewLabel>Re-Generate Campaign URL {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Re-Generate Campaign URL</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Campaign_Record</name>
        <label>Get Campaign Record</label>
        <locationX>572</locationX>
        <locationY>69</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Campaign_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CampaignId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Campaign_Record</name>
        <label>Update Campaign Record</label>
        <locationX>797</locationX>
        <locationY>69</locationY>
        <connector>
            <targetReference>SCREEN_OpenCampaign</targetReference>
        </connector>
        <inputAssignments>
            <field>Re_Generate_URL__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Campaign</object>
    </recordUpdates>
    <screens>
        <name>SCREEN_OpenCampaign</name>
        <label>Open Campaign</label>
        <locationX>1029</locationX>
        <locationY>69</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>OpenCampaign</name>
            <extensionName>c:CCE_OpenCampaign</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Campaign_Record.Id</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Campaign_Record</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <description>Store the Id of the campaign that triggered the flow.</description>
        <name>CampaignId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
