main/default/flows/Rejected_Sessions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assign_Approved_Status</name>
        <label>Assign Approved Status</label>
        <locationX>920</locationX>
        <locationY>120</locationY>
        <assignmentItems>
            <assignToReference>Get_Session.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_the_Record_has_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Session_Record</name>
        <label>Assign to Session Record</label>
        <locationX>879</locationX>
        <locationY>472</locationY>
        <assignmentItems>
            <assignToReference>SessionsCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Session</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Sessions</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_the_Record_has_ID</name>
        <label>Check if the Record has ID</label>
        <locationX>914</locationX>
        <locationY>302</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Id_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Session.Id</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_Session_Record</targetReference>
            </connector>
            <label>Id Check</label>
        </rules>
    </decisions>
    <interviewLabel>Sessions Rejected {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sessions Rejected</label>
    <loops>
        <name>Loop_through_Sessions</name>
        <label>Loop through Sessions</label>
        <locationX>439</locationX>
        <locationY>370</locationY>
        <collectionReference>ids</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Session</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Sessions</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Session</name>
        <label>Get Session</label>
        <locationX>542</locationX>
        <locationY>131</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Approved_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_through_Sessions</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Proposed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Session__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Sessions</name>
        <label>Update Sessions</label>
        <locationX>216</locationX>
        <locationY>602</locationY>
        <inputReference>SessionsCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Loop_through_Sessions</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SessionRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Session__c</objectType>
    </variables>
    <variables>
        <name>SessionsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Session__c</objectType>
    </variables>
</Flow>
