main/default/flows/Use_Template.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Testing_Phase_List</name>
        <label>Assign Testing Phase List</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>testingPhaseList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>System Integration Testing</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>testingPhaseList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>UAT Testing</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>testingPhaseList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Prod Smoke Testing</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>testingPhaseList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Testing_Phase_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Test_Execution</name>
        <label>Assign to Test Execution</label>
        <locationX>578</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>testExecutionToCreate.Test_Scenario__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Test_Execution_Records.Test_Scenario__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>testExecutionToCreate.Expected_Results__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Test_Execution_Records.Expected_Results__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>testExecutionToCreate.QA_Task__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_QA_Record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>testExecutionToCreate.Testing_Phase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Test_Execution_Records.Testing_Phase__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>testExecutionToCreate.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>qaTestExecutionName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>testExecutionToCreate.Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Project__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>testExecutionToCreate.Epic__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId.Epic__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Test_Execution_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Test_Execution_List</name>
        <label>Assign to Test Execution List</label>
        <locationX>578</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>testExecutionToCreateList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>testExecutionToCreate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>testExecutionCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Test_Execution_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Test_Execution_Counter</name>
        <label>Reset Test Execution Counter</label>
        <locationX>490</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>testExecutionCounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Testing_Phase_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Has_Test_Execution</name>
        <label>Has Test Execution</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>No_Test_Execution_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Test_Execution_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_QA_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Current_Testing_Phase</name>
        <label>Is Current Testing Phase</label>
        <locationX>710</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>Test_Execution_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Testing_Phase_Collection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Test_Execution_Records.Testing_Phase__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_to_Test_Execution</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>CAPM-SDM-817-DV: This flow will create clone the current template record as QA and its test execution related</description>
    <environments>Default</environments>
    <formulas>
        <name>projectIncrementNumber</name>
        <dataType>Number</dataType>
        <expression>if (ISNULL({!recordId.Project__r.Starting_Task_Number__c}), 1, {!recordId.Project__r.Starting_Task_Number__c} + 1)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>qaProjectTaskName</name>
        <dataType>String</dataType>
        <expression>{!recordId.Project__r.Project_Code__c} + &apos;-&apos;  + {!recordId.Epic__r.Epic_Code__c}  + &apos;-&apos;  + TEXT({!projectIncrementNumber}) + &apos;-QA&apos;</expression>
    </formulas>
    <formulas>
        <name>qaTestExecutionName</name>
        <dataType>String</dataType>
        <expression>{!Get_New_QA_Information.Name} + &apos;-TE-&apos; + {!testingPhaseMapping} + &apos;-&apos; +TEXT({!testExecutionCounter})</expression>
    </formulas>
    <formulas>
        <name>testingPhaseMapping</name>
        <dataType>String</dataType>
        <expression>CASE({!Test_Execution_Records.Testing_Phase__c}, 
 &quot;System Integration Testing&quot;, &quot;SIT&quot;, 
 &quot;UAT Testing&quot;, &quot;UAT&quot;,
 &quot;Prod Smoke Testing&quot;, &quot;SMOKE&quot;,
 &quot;Other&quot;
)</expression>
    </formulas>
    <interviewLabel>Use Template {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Use Template</label>
    <loops>
        <name>Test_Execution_Records</name>
        <label>Test Execution Records</label>
        <locationX>490</locationX>
        <locationY>998</locationY>
        <collectionReference>Get_Test_Execution_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Current_Testing_Phase</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Reset_Test_Execution_Counter</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Testing_Phase_Collection</name>
        <label>Testing Phase Collection</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <collectionReference>testingPhaseList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Test_Execution_Records</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Test_Execution_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>This will create project task QA record</description>
        <name>Create_QA_Record</name>
        <label>Create QA Record</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Update_Project_Starting_Task_Number</targetReference>
        </connector>
        <inputAssignments>
            <field>Epic__c</field>
            <value>
                <elementReference>recordId.Epic__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>qaProjectTaskName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project__c</field>
            <value>
                <elementReference>recordId.Project__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_QA_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status_Detail__c</field>
            <value>
                <elementReference>recordId.Status_Detail__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Test_Case_Description__c</field>
            <value>
                <elementReference>recordId.Test_Case_Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title__c</field>
            <value>
                <elementReference>recordId.Title__c</elementReference>
            </value>
        </inputAssignments>
        <object>Project_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Test_Execution_Records</name>
        <label>Create Test Execution Records</label>
        <locationX>50</locationX>
        <locationY>1790</locationY>
        <connector>
            <targetReference>QA_Successfully_Created</targetReference>
        </connector>
        <inputReference>testExecutionToCreateList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_New_QA_Information</name>
        <label>Get New QA Information</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Testing_Phase_List</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_QA_Record</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Project_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_QA_Record_Type</name>
        <label>Get QA Record Type</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Test_Execution_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>QA</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Project_Task__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Test_Execution_Records</name>
        <label>Get Test Execution Records</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Test_Execution</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Template_Task__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Test_Execution__c</object>
        <sortField>Testing_Phase__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Project_Starting_Task_Number</name>
        <label>Update Project Starting Task Number</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Get_New_QA_Information</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Project__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Starting_Task_Number__c</field>
            <value>
                <elementReference>projectIncrementNumber</elementReference>
            </value>
        </inputAssignments>
        <object>Project__c</object>
    </recordUpdates>
    <screens>
        <name>No_Test_Execution_Screen</name>
        <label>No Test Execution</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoTestExecutionError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;No Test Execution records to clone&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>QA_Successfully_Created</name>
        <label>QA Successfully Created</label>
        <locationX>50</locationX>
        <locationY>1898</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessfulMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt;Template has been created. Please &lt;/span&gt;&lt;a href=&quot;/{!Create_QA_Record}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 20px;&quot;&gt;click here&lt;/a&gt;&lt;span style=&quot;font-size: 20px;&quot;&gt; to navigate.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_QA_Record_Type</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Project_Task__c</objectType>
    </variables>
    <variables>
        <name>testExecutionCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>testExecutionToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Test_Execution__c</objectType>
    </variables>
    <variables>
        <name>testExecutionToCreateList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Test_Execution__c</objectType>
    </variables>
    <variables>
        <name>testingPhaseList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
